/*AJUSTES DE ARCHIVO NORMALIZE.CSS*/
@import url(../vendor/normalize.css);

/*ROOT*/
@import url(../blocks/root/root.css);

/*HEADER*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__square/header__square-pic.css);
@import url(../blocks/header/__main-illustration/main-illustration.css);

/*LOGO*/
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);

/*TABLE*/
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/tabel__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme-dark.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/table/__subtext/table__subtext.css);

/*DESCRIPTION*/
@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__space-accent/two-columns__space-accent.css);


/*DIGITIS*/
@import url(../blocks/digits/digits.css);

/*SECTION*/
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);


/*FEYNMAN*/
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__image/feynman__image.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__link/feynman__link.css);


/*KAUFMAN*/
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/__triangle/kaufman__triangle.css);


/*Seccion Footer*/
.footer {
  background-color: #1F1F1F;
  color           : #fff;
  padding         : 60px 0 40px;

}

.footer__columns {
  width          : 90%;
  min-height     : 230px;
  display        : flex;
  justify-content: space-between;
  margin         : auto;
}

.footer__column-copyright {
  display        : flex;
  justify-content: space-between;
  flex-direction : column;
  width          : 711px;

}

.logo_place-footer {
  width : 183px;
  height: 35px;
}

.footer__author {
  padding    : 18px 0;
  line-height: 25px;
  font-size  : 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height  : 30px;
  font-size    : 18px;
  font-weight  : bold;
  margin-bottom: 20px;
}

.footer__social-icons {
  margin-right: 10px;
  width       : 16px;
  height      : 16px;
}

.footer__column-link {
  text-decoration: none;
  color          : #fff;

}

.footer__list {
  line-height: 30px;
  font-size  : 18px;
  font-weight: normal;
  color      : #fff;
  padding    : 0;
}