.header__title {
  -webkit-box-align: center;
  -ms-flex-align   : center;
  line-height      : 96px;
  font-size        : 102px;
  width            : 730px;
  z-index          : 2;
  font-weight      : bold;
  padding-left: 64px;
  align-self:center ;
  margin:0;
}